
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.jumbotron{
    margin-top: 25px;
    background: white;
    margin-left:10%;
    margin-right: 10%;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.startcontent{
    border-top:1px solid gainsboro;
}
.content{
margin-left:12%;
margin-right:12%;
margin-top:15px;
position: relative;
}
.card{
   border: none;
   display: block;
}
.card:hover{
box-shadow: 0 0 11px rgba(33,33,33,.2); 
transition: box-shadow 0.4s ease-in-out;

}
.footer{
 padding-top: 20px;
 padding-bottom: 20px;
margin-left: 12%;
margin-right: 12%;
}
.bottom{
 text-align: center;
}
.card-deck{
 margin-left: 10%;
 margin-right: 10%
}
#textproducts,.card-title{
 font-weight: bold
}
#textproducts{
 color:lightslategrey
}
#footertitle{
 color: green;
}
.newsletter{
 margin-right: 10%;
 margin-left:10%;
 background: azure
}